/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif; 
    max-width: 1550px;
    margin: 0 auto;  
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: rgb(224, 218, 222); 
       
}

div.logo {
    font-family: 'Monoton', cursive;
    font-size: 80px;
    font-weight: 450;
    font-stretch: ultra-expanded;
    text-align: left;
    color: rgb(102, 95, 95);
    background-color: white;
    border: 4px solid aquamarine;
    border-radius: 8%;
    position: relative;
    
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    text-align: center;
    margin-left: 20px;   
}

a {
    text-decoration: line;
    color: rgb(251, 95, 128);
    font-size: 18px;
    font-weight: bold;
    
}

main{
     background:linear-gradient(aquamarine,white);
     padding: 250px;
     
    } 

h1{
    font-family: 'Dancing Script', cursive;
    color: rgb(102, 95, 95);
    font-size: 60px;
    font-weight: 450;
    margin-top: -120px;
    text-align: center;
    position: relative;
    animation: h1 8s;
}
section.content{
    padding: 45px;
}

h2{
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: 400;
}

section.empty{
    padding: 50px;
}

div.skills{
    max-width: 1200px;
    width: 700px;
    height: 100%;
    margin: 0,auto;
}

div ul{
    display: flex;
    justify-content: space-between; 
    
}

div ul li{
    text-align: center;
    background:white;
    align-items: center;
    padding: 30px;
    border: 4px solid aquamarine;
    border-radius: 20%;
    margin-left: 100px;
    
}

div ul li img{
    height: 50px;
    margin-bottom: 20px;
}

div ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(102, 95, 95);
    font-weight: bold;
}
section.foto img{
    margin-top: -100px;
    position: relative;
    animation: h1 8s;
    width: 500px;
    border-radius: 10%
}

section.text1{
    
    color: rgb(102, 95, 95);
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 1pt;
    text-indent: 15pt;
    margin-left: 550px;
    margin-top: -480px;
    text-align: center;
    line-height: 35pt;
    background-color: whitesmoke;
    border-radius: 10%;
    width: 600px;
    
}
section.null{
    padding: 45px;
}
    

section.text2{
    background-color: rgb(224, 218, 222); 
    border-radius: 42%;
    width: 600px;
    margin-left: 550px;
    margin-bottom: 200px;
    text-align:center;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color:rgb(251, 95, 128);
    position: relative;
    animation: text2 5s infinite;
}

section.info1{
    background-color: rgb(224, 218, 222); 
    border-radius: 45%;
    width: 600px;
    margin-left: 450px;
    margin-top:-100px;
    text-align:center;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    color:rgb(251, 95, 128);
    transition: all 1s ease-in-out;
}
section.info1:hover, #section.info1.hover_effect {
    transform: rotate(720deg) scale(2,2);
 }

section.works{
    font-size: 25px;
    color:rgb(102, 95, 95);
    font-weight: 400;
    text-align: center;    
}

footer{
    background-color: rgb(102, 95, 95);
    padding: 15px;
    text-align: center;
    color: rgb(236, 255, 253); 
    display: flex;
    justify-content: flex-end;
    align-items: center;     
} 

div.Contact{
    margin-right: 55px;
    
}
div.Contact a{
    color:white;
    text-decoration: none;
    font-weight: 400;
}
div.icon1{
    margin-right: 45px;
}

div.icon{
    margin-right: 30px;
}

@keyframes h1{
    0% {opacity: 0;}
    100% { opacity: 1;}
}

@keyframes foto{
    10%{opacity: 0;}
    100%{opacity: 100;}
}
@keyframes text2{
    0% {opacity: 0;}
    100% { opacity: 1;}
}